.transaction-modal
{
  max-width: 400px!important;
}

.transaction-modal input
{
  text-align: right;
  border: 1px solid #cccccc;
  padding: 2px;
  width: 100px;
  font-weight: bold;
}

.transaction-modal input::-webkit-outer-spin-button,
.transaction-modal input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.transaction-modal input[type=number],
.transaction-modal input[type=number]
{
  -moz-appearance:textfield;
}

.transaction-modal label
{
  padding-right: 8px;
}

.transaction-modal input:invalid
{
  box-shadow: 0 0 5px 1px red
}

div.modal-footer
{
  border-top-color: rgba(0,0,0,.4) !important;
}

div.modal-header
{
  border-bottom-color: rgba(0,0,0,.4) !important;
}

.transaction-total-row
{
  font-weight: bold;
}

button.transaction-button
{
  width: 80px;
}